include box.jade
doctype html
html
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='content-language', content='hu')
		meta(name='description', content='#{site_desc}')
		meta(name='keywords', content='#{site_keywords}')
		meta(property='og:site_name', content='#{title}')
		meta(property='og:title', content='#{title}')
		meta(property='og:description', content='#{site_desc}')
		meta(property='og:url', content='#{site_url}')
		meta(property='og:image', content='#{site_image}')
		meta(property='og:type', content='website')
		meta(property='og:locale', content='hu_HU')
		link(rel='icon', href='favicon.ico')
		link(rel='stylesheet', href='/css/icons.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='/js/jquery.min.js')
		script(src='//blockchain.info/Resources/wallet/pay-now-button.js', async='true')
	body
		// Facebook script
		#fb-root
		script.
			(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = '//connect.facebook.net/hu_HU/sdk.js#xfbml=1&appId=923240771054036&version=v2.3';
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		// Eof Facebook script
		header
			div
				h1
					a(href='/', target='_top')
						| #{title}
					sup v#{app_version}
				div
					| #{site_desc}
		#container
			block content
		footer
			div
				.copy
					| Copyright &copy;&nbsp;
					a(href='http://gyengus.hu/?utm_source=tools') Gyengus&trade;
				.github
					a(href='https://github.com/gyengus/tools.gyengus.hu', target='_blank', title='GitHub')
						span.icon.icon-github
				a(href='http://desktopbabes.info/?utm_source=tools') Hátterek
				a(href='http://2jump.info/?utm_source=tools') Link rövidítés
		include ga.jade
		// Google Plus script
		script(src='https://apis.google.com/js/platform.js', async='', defer='').
			{lang: 'hu'}
		// Eof Google Plus Script
